

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand d-flex justify-content-center" href="#">
  </a>

  <div class="ml-auto text-">
    <div ngbDropdown>
      <button class="btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>
        <img src="./assets/icon.png" class="rounded" style="max-width: 30px; max-height: 30px; border-radius: 10px;" alt="Foto do usuário">
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
        <a class="dropdown-item" href="#">Conta</a>
        <a class="dropdown-item" href="#">Configurações</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>

      </div>
    </div>
  </div>
</nav>

