<div class="custom-container">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 col-lg-4 ">
        <div class="card custom-card shadow-lg">
          <div class="card-body d-flex  flex-column">
            <h2 class="text-center mb-4">Sign in</h2>
            <p class="text-center" style="color:#505154;">Insira suas credenciais para acessar sua conta</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group my-2">
                <input type="email" class="form-control" formControlName="email" placeholder="Insira seu e-mail" style="color: #B4B6C1;">
              </div>
              <div class="form-group my-2">
                <input type="password" class="form-control" formControlName="password" placeholder="Insira sua senha" style="color: #B4B6C1;">
              </div>              
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-md" routerLink="/header">Entrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-pass text-center mt-3">
    <a routerLink="/esqueceu-senha">Esqueceu sua senha? Redefinir senha</a>
  </div>
  <div class="text-pass text-center mt-2">
    Ainda não possui conta? <a routerLink="/registro">Cadastre-se</a>
  </div>
</div>
