@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.custom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1rem;
 }

.custom-card {
  position: relative;
  width: 420px;
  height: 350px;
  margin: 0 auto 0 100% ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-card form {
  margin-top: 35px;
}

.btn{
  margin-top:2vh;
  width: 100%;
}

@media (max-width: 768px) {
  .col-md-6 {
    flex-basis: 100%;
    max-width: 100%;
  }
   .custom-card {
    margin: 0 auto;
    width: 90%;
  }
  .text-pass {
    text-align: center;
  }
  .custom-card form {
    margin-top: 15px;
  }
}



