<table class="table table-striped bg-white minha-tabela">
  <thead>
    <tr>
      <th>Coleção</th>
      <th>Responsável</th>
      <th>Estação-Lançamento</th>
      <th>Modelos</th>
      <th>Orçamento</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let colecao of colecoes">
      <td><a [routerLink]="['/editar-colecao']">{{ colecao.nomeColecao }}</a></td>
      <td>{{ colecao.responsavel }}</td>
      <td>{{ colecao.estacao }}</td>
      <td>{{ colecao.modelos }}</td>
      <td>R$ {{ colecao.orcamento }}</td>
    </tr>
  </tbody>
</table>
