<main class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 align-items-center menu-lateral">
    <div class="logo mb-3">
      <img class="logo-audaces" src="./assets/audaces-logo.jpg" alt="Logo">
    </div>
    <div class="menu-title mb-4">
      <span class="fs-4 text-secondary">Menu</span>
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#collection"></use></svg>
          Coleções
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#model"></use></svg>
          Modelos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#question-circle"></use></svg>
          Obter Ajuda
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#chat-dots"></use></svg>
          Comentários
        </a>
      </li>
    </ul>
  </div>
  
  <div class="container-fluid">
    <!-- Adicione o conteúdo do seu projeto aqui -->
  </div>
</main>