@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.nav-link {
  color: #6c757d;
}

.nav-link:hover {
  color: white;
  background-color: #007bff;
}

 
.logo-audaces{
  width: 200px
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  background-color: #fff;
  z-index: 1;
}

.menu-title {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 1rem;
  margin-top: -5.5rem; 

}

.nav-link {
  margin-bottom: 1rem;
}

