<main class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 align-items-center menu-lateral">
    <div class="logo mb-3">
      <img class="logo-audaces"  src="./assets/audaces-logo.jpg"  alt="Logo">
      
    </div>
    <div class="menu-title mb-5">
      <span class="text-secondary">Menu</span>
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="/dashboard">
          <svg class="bi pe-none me-2 ml-2" width="16" height="16"><use xlink:href="#"></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/colecoes" routerLinkActive="active" class="nav-link">
          <svg class="bi pe-none me-2 ml-2" width="16" height="16"><use xlink:href="#question-circle"></use></svg>
          Coleções
        </a>
      </li>
      <li>
        <a routerLink="/modelos" routerLinkActive="active"  class="nav-link">
          <svg class="bi pe-none me-2 ml-2" width="16" height="16"><use xlink:href="#question-circle"></use></svg>
          Modelos
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi pe-none me-2 ml-2" width="16" height="16"><use xlink:href="#question-circle"></use></svg>
          Obter Ajuda
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          <svg class="bi pe-none me-2 ml-2" width="16" height="16"><use xlink:href="#chat-dots"></use></svg>
          Comentários
        </a>
      </li>
    </ul>
  </div>
  
  <div class="container-fluid">
    
  </div>
</main>
