@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.text-left{
  font-size: 1.1rem;
  margin-top: 3rem;
}

.form-modelo{
  height: auto;
  background-color: #f3f3f3;
  overflow: hidden;
  margin-top: auto;
  margin-left: 330px; /* Desconta a largura do menu lateral */
  padding: 10px;
}

.btn {
  margin-top: 60px;
  float: right;
  margin-right: 10px;
}

select.form-control:focus {
  background-color: white;
  color: blue;
}

select.form-control option:hover {
  background-color: blue;
  color: white;
}
