<app-header></app-header>
<app-menu-lateral></app-menu-lateral>

<form [formGroup]="criarModeloForm" (ngSubmit)="onSubmit()" class="custom-form">
  <div class="form-group">
    <label for="nomeModelo">Nome do Modelo</label>
    <input type="text" class="form-control" id="nomeModelo" formControlName="nomeModelo" required>
  </div>
  <div class="form-group">
    <label for="marca">Marca</label>
    <input type="text" class="form-control" id="marca" formControlName="marca" required>
  </div>
  <div class="form-group">
    <label for="anoLancamento">Ano de lançamento</label>
    <input type="text" class="form-control" id="anoLancamento" formControlName="anoLancamento" required>
  </div>
  <div class="form-group">
    <label for="preco">Preço</label>
    <input type="text" class="form-control" id="preco" formControlName="preco" required>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
