<app-header></app-header>
<app-menu-lateral></app-menu-lateral>
<div class="form-modelo form-row">
  <div class="col-md-12 mb-5">
    <h2 class="text-left">Criar Modelo</h2>
  </div>
  <div class="form-group col-md-6">
    <label for="nomeModelo">Nome do Modelo:</label>
    <input type="text" class="form-control" formControlName="nomeModelo">
  </div>
  <div class="form-group col-md-6">
    <label for="tipoModelo">Tipo do Modelo:</label>
    <input type="text" class="form-control" formControlName="tipoModelo">
  </div>
  <div class="form-group col-md-6">
    <label for="selecionarColecao">Selecionar Coleção:</label>
    <select class="form-control" formControlName="selecionarColecao">
      <option value="">Selecione uma opção</option>
      <option class="colecao" value="Coleção 1">Coleção 1</option>
      <option class="colecao" value="Coleção 2">Coleção 2</option>
      <option class="colecao" value="Coleção 3">Coleção 3</option>
      <option class="colecao" value="Coleção 4">Coleção 4</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="responsavel">Responsável pelo Modelo:</label>
    <input type="text" class="form-control" formControlName="responsavel">
  </div>
  <div class="form-group col-md-6">
    <label for="possuiBordas">Possui Bordas?</label>
    <select class="form-control" formControlName="possuiBordas">
      <option value="">Selecione uma opção</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="possuiEstampa">Possui Estampa?</label>
    <select class="form-control" formControlName="possuiEstampa">
      <option value="">Selecione uma opção</option>
      <option value="Sim">Sim</option>
      <option value="Não">Não</option>
    </select>
  </div>
</div>

<img src="./assets/imagem-criar-modelo.png" class="img-c-modelo" alt="">
