<app-header></app-header>
<app-menu-lateral></app-menu-lateral>

<div class="dashboard"> <!-- Adiciona uma margem superior ao container -->
  <div class="row">
    <div class="col-md-4">
      <div class="card"> 
        <div class="card-body">
          <h5 class="card-title fs-4">Coleções</h5>
          <p class="card-text"><strong class="fs-4">10</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="margin-top: 30px;"> <!-- Ajusta a margem superior dos cards se necessário -->
        <div class="card-body">
          <h5 class="card-title fs-4">Modelos</h5>
          <p class="card-text"><strong class="fs-4">5</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="margin-top: 30px;"> <!-- Ajusta a margem superior dos cards se necessário -->
        <div class="card-body">
          <h5 class="card-title fs-4">Orçamento médio (R$)</h5>
          <p class="card-text"><strong class="fs-4">R$ 500,00</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

