/* dashboard.component.css */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';



.dashboard-cards {
  margin-left: 280px; /* Desconta a largura do menu lateral */
}

.card {
  margin: 10px;
  background-color: #fff;
  
  
}

.card-title {
  font-size: 1rem;
  text-align: center;
}

.card-text {
  font-size: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}
