<app-header></app-header>
<app-menu-lateral></app-menu-lateral>

<!-- dashboard.component.html -->
<div class="dashboard mt-5 dashboard-cards">
  <div class="col-md-12 mb-5">
    <h2 class="text-left">DASHBOARD</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-5">Coleções</h5>
          <p class="card-text"><strong class="fs-5">10</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-5">Modelos</h5>
          <p class="card-text"><strong class="fs-5">5</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-5">Orçamento médio (R$)</h5>
          <p class="card-text"><strong class="fs-5">R$ 500,00</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
