/* dashboard.component.css */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.dashboard {
  height: 93vh;
  background-color: #f3f3f3;
  overflow: hidden;
  margin-top: auto;
}

.dashboard-cards {
  margin-left: 330px; /* Desconta a largura do menu lateral */
  margin-top: 80px; /* Define uma margem menor para alinhar com a tabela */
  padding: 10px;
}

.card {
  margin: 50px;
  margin-top: 0;
  background-color: #fff;
  margin-bottom: 20px; /* Adiciona margem inferior para alinhar com a tabela */
}

.card-body{
  margin: 0;
}

.card-title {
  font-size: 1rem;
  text-align: left;
}

.card-text {
  font-size: 1.3rem;
  padding: 10px;
  text-align: left;
}

h2 {
  font-size: 1.1rem;
  margin-top: 3rem;
}



.tabela {
  margin-left:20px ;
  max-width: 90%;
  margin-bottom: 20px;
  align-items: center;
}

.tabela h3 {
  font-size: 1.1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: 0px;
  
 
}


.minha-tabela {
  background-color: #fff;
  margin-top: 20px;
  text-align: left;
}

.minha-tabela th {
  font-size: 1rem;
  text-align: left;
}

.minha-tabela td {
  font-size: 1.2rem;
  padding: 10px;
  text-align: left;
}

.titulo-tabela {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 10px;
}
