<app-header></app-header>
<app-menu-lateral></app-menu-lateral>

<div class="dashboard mt-0 dashboard-cards">
  <div class="col-md-12 mb-5">
    <h2 class="text-left">Dashboard</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-5">Coleções</h5>
          <p class="card-text"><strong class="fs-5">{{ totalColecoes }}</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-5">Modelos</h5>
          <p class="card-text"><strong class="fs-5">{{ totalModelos }}</strong></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fs-5">Orçamento médio (R$)</h5>
          <p class="card-text"><strong class="fs-5">R$ {{ orcamentoMedio }}</strong></p>
        </div>
      </div>
    </div>
  </div>  
  <div class="tabela h2">
    <h3>Maiores orçamentos</h3>
    <app-tabela-dados [dados]="maioresOrcamentos"></app-tabela-dados>
    </div>   
  </div>