<table class="table table-striped bg-white minha-tabela">
  <thead>
    <tr>
      <th>ModeloID</th>
      <th>Nome do Modelo</th>
      <th>Responsável</th>
      <th>Coleção</th>
      <th>Possui Bordas</th>
      <th>Possui Estampa</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let modelo of modelos">
      <td>{{ modelo.id }}</td>
      <td>{{ modelo.nomeModelo }}</td>
      <td>{{ modelo.responsavel }}</td>
      <td>{{ modelo.Selecionarcolecao }}</td>
      <td>{{ modelo.possuiBordas }}</td>
      <td>{{ modelo.possuiEstampa }}</td>
    </tr>
  </tbody>
</table>
