@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';


.text-left{
  font-size: 1.1rem;
  margin-top: 3rem;
  
  
}
.custom-form{
  height: auto;
  background-color: #f3f3f3;
  overflow: hidden;
  margin-top: auto;
  margin-left: 330px; /* Desconta a largura do menu lateral */
  padding: 10px;
 }

 .img-c-colecao {
  max-width: 100%;
  display: block;
  margin: 2vh auto;
}

.btn {
  margin-top: 60px;
  float: right;
  
}

